AvalaraTax/entAvalaraConnector/Web References/Taxes/Taxes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/taxes" targetNamespace="urn:microsoft-dynamics-schemas/page/taxes" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/taxes" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Tipo">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Pedido" />
          <xsd:enumeration value="FacturaReg" />
          <xsd:enumeration value="Abono" />
          <xsd:enumeration value="AbonoReg" />
          <xsd:enumeration value="Oferta" />
          <xsd:enumeration value="FacturaPrev" />
          <xsd:enumeration value="AbonoPrev" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Accion">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="_blank_" />
          <xsd:enumeration value="Cancel" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="ImpuestosLineas">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Linea" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TipoLinea" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cantidad" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Importe" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TaxCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Impuesto" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha_respuesta" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Procesado_respuesta" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToLine1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToLine2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToLine3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToRegion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToCountry" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ImpuestosLineas_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="ImpuestosLineas" type="tns:ImpuestosLineas" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Taxes">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Tipo" type="tns:Tipo" />
          <xsd:element minOccurs="0" maxOccurs="1" name="No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CustomerCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DocDate" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CurrencyCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromLine1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromLine2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromLine3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromRegion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipFromCountry" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToLine1" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToLine2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToLine3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToCity" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToRegion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToPostCode" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShipToCountry" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Impuesto" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha_respuesta" type="xsd:dateTime" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Procesado_respuesta" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescripcionError" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescripcionError2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="DescripcionError3" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Accion" type="tns:Accion" />
          <xsd:element minOccurs="0" maxOccurs="1" name="TaxesLines" type="tns:ImpuestosLineas_List" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="Taxes_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="Taxes" type="tns:Taxes" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="Taxes_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Tipo" />
          <xsd:enumeration value="No" />
          <xsd:enumeration value="CustomerCode" />
          <xsd:enumeration value="DocDate" />
          <xsd:enumeration value="CurrencyCode" />
          <xsd:enumeration value="ShipFromLine1" />
          <xsd:enumeration value="ShipFromLine2" />
          <xsd:enumeration value="ShipFromLine3" />
          <xsd:enumeration value="ShipFromCity" />
          <xsd:enumeration value="ShipFromRegion" />
          <xsd:enumeration value="ShipFromPostCode" />
          <xsd:enumeration value="ShipFromCountry" />
          <xsd:enumeration value="ShipToLine1" />
          <xsd:enumeration value="ShipToLine2" />
          <xsd:enumeration value="ShipToLine3" />
          <xsd:enumeration value="ShipToCity" />
          <xsd:enumeration value="ShipToRegion" />
          <xsd:enumeration value="ShipToPostCode" />
          <xsd:enumeration value="ShipToCountry" />
          <xsd:enumeration value="Impuesto" />
          <xsd:enumeration value="Fecha_respuesta" />
          <xsd:enumeration value="Procesado_respuesta" />
          <xsd:enumeration value="DescripcionError" />
          <xsd:enumeration value="DescripcionError2" />
          <xsd:enumeration value="DescripcionError3" />
          <xsd:enumeration value="Accion" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="Taxes_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:Taxes_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Tipo" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Taxes" type="tns:Taxes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="Taxes" type="tns:Taxes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:Taxes_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:Taxes_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes" type="tns:Taxes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Create_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes" type="tns:Taxes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes_List" type="tns:Taxes_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes_List" type="tns:Taxes_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes" type="tns:Taxes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Update_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes" type="tns:Taxes" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes_List" type="tns:Taxes_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Taxes_List" type="tns:Taxes_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_TaxesLines">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="TaxesLines_Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Delete_TaxesLines_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Delete_TaxesLines_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <message name="Create">
    <part name="parameters" element="tns:Create" />
  </message>
  <message name="Create_Result">
    <part name="parameters" element="tns:Create_Result" />
  </message>
  <message name="CreateMultiple">
    <part name="parameters" element="tns:CreateMultiple" />
  </message>
  <message name="CreateMultiple_Result">
    <part name="parameters" element="tns:CreateMultiple_Result" />
  </message>
  <message name="Update">
    <part name="parameters" element="tns:Update" />
  </message>
  <message name="Update_Result">
    <part name="parameters" element="tns:Update_Result" />
  </message>
  <message name="UpdateMultiple">
    <part name="parameters" element="tns:UpdateMultiple" />
  </message>
  <message name="UpdateMultiple_Result">
    <part name="parameters" element="tns:UpdateMultiple_Result" />
  </message>
  <message name="Delete">
    <part name="parameters" element="tns:Delete" />
  </message>
  <message name="Delete_Result">
    <part name="parameters" element="tns:Delete_Result" />
  </message>
  <message name="Delete_TaxesLines">
    <part name="parameters" element="tns:Delete_TaxesLines" />
  </message>
  <message name="Delete_TaxesLines_Result">
    <part name="parameters" element="tns:Delete_TaxesLines_Result" />
  </message>
  <portType name="Taxes_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
    <operation name="Create">
      <input name="Create" message="tns:Create" />
      <output name="Create_Result" message="tns:Create_Result" />
    </operation>
    <operation name="CreateMultiple">
      <input name="CreateMultiple" message="tns:CreateMultiple" />
      <output name="CreateMultiple_Result" message="tns:CreateMultiple_Result" />
    </operation>
    <operation name="Update">
      <input name="Update" message="tns:Update" />
      <output name="Update_Result" message="tns:Update_Result" />
    </operation>
    <operation name="UpdateMultiple">
      <input name="UpdateMultiple" message="tns:UpdateMultiple" />
      <output name="UpdateMultiple_Result" message="tns:UpdateMultiple_Result" />
    </operation>
    <operation name="Delete">
      <input name="Delete" message="tns:Delete" />
      <output name="Delete_Result" message="tns:Delete_Result" />
    </operation>
    <operation name="Delete_TaxesLines">
      <input name="Delete_TaxesLines" message="tns:Delete_TaxesLines" />
      <output name="Delete_TaxesLines_Result" message="tns:Delete_TaxesLines_Result" />
    </operation>
  </portType>
  <binding name="Taxes_Binding" type="tns:Taxes_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Create">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:Create" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Create">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Create_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="CreateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:CreateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="CreateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="CreateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Update">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:Update" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Update">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Update_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="UpdateMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:UpdateMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="UpdateMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="UpdateMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:Delete" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Delete_TaxesLines">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/taxes:Delete_TaxesLines" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Delete_TaxesLines">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Delete_TaxesLines_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="Taxes_Service">
    <port name="Taxes_Port" binding="tns:Taxes_Binding">
      <address location="http://192.168.0.105:7047/DynamicsNAV/WS/SALTO%20USA/Page/Taxes" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>