ConectarWS/ConectarWS/Web References/CodeunitWS/PruebasWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/PruebasWS" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/PruebasWS" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema xmlns:tns="urn:microsoft-dynamics-nav/xmlports/x99997" elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-nav/xmlports/x99997" xmlns="http://www.w3.org/2001/XMLSchema">
      <complexType name="SD">
        <sequence>
          <element minOccurs="1" maxOccurs="1" name="Name" type="string" />
          <element minOccurs="1" maxOccurs="1" name="Address" type="string" />
        </sequence>
      </complexType>
      <complexType name="prbgve" mixed="true">
        <sequence>
          <element minOccurs="1" maxOccurs="unbounded" name="SD" type="tns:SD" />
        </sequence>
      </complexType>
      <element name="prbgve" type="tns:prbgve" />
    </schema>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/PruebasWS" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="LLamarWS">
        <complexType>
          <sequence>
            <element xmlns:q1="urn:microsoft-dynamics-nav/xmlports/x99997" minOccurs="1" maxOccurs="1" name="xmlOne" type="q1:prbgve" />
          </sequence>
        </complexType>
      </element>
      <element name="LLamarWS_Result">
        <complexType>
          <sequence>
            <element xmlns:q2="urn:microsoft-dynamics-nav/xmlports/x99997" minOccurs="1" maxOccurs="1" name="xmlOne" type="q2:prbgve" />
          </sequence>
        </complexType>
      </element>
      <element name="Pruebas">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="txtParam" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="Pruebas_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="txtParam" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="LLamarWS">
    <part name="parameters" element="tns:LLamarWS" />
  </message>
  <message name="LLamarWS_Result">
    <part name="parameters" element="tns:LLamarWS_Result" />
  </message>
  <message name="Pruebas">
    <part name="parameters" element="tns:Pruebas" />
  </message>
  <message name="Pruebas_Result">
    <part name="parameters" element="tns:Pruebas_Result" />
  </message>
  <portType name="PruebasWS_Port">
    <operation name="LLamarWS">
      <input name="LLamarWS" message="tns:LLamarWS" />
      <output name="LLamarWS_Result" message="tns:LLamarWS_Result" />
    </operation>
    <operation name="Pruebas">
      <input name="Pruebas" message="tns:Pruebas" />
      <output name="Pruebas_Result" message="tns:Pruebas_Result" />
    </operation>
  </portType>
  <binding name="PruebasWS_Binding" type="tns:PruebasWS_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="LLamarWS">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PruebasWS:LLamarWS" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="LLamarWS">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="LLamarWS_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="Pruebas">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/PruebasWS:Pruebas" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Pruebas">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Pruebas_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PruebasWS">
    <port name="PruebasWS_Port" binding="tns:PruebasWS_Binding">
      <address location="http://10.35.35.73:7047/DynamicsNAV/WS/SMURFIT%20KAPPA/Codeunit/PruebasWS" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>