ConectarWS/ConectarWS/Web References/LineasPrograma/PDA_LineasPrograma.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/page/pda_lineasprograma" targetNamespace="urn:microsoft-dynamics-schemas/page/pda_lineasprograma" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/page/pda_lineasprograma" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:simpleType name="Status">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Simulated" />
          <xsd:enumeration value="Planned" />
          <xsd:enumeration value="Firm_Planned" />
          <xsd:enumeration value="Released" />
          <xsd:enumeration value="Finished" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Estado_de_linea">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Normal" />
          <xsd:enumeration value="Cliente_bloqueado" />
          <xsd:enumeration value="Permiso_especial" />
          <xsd:enumeration value="Linea_bloqueada" />
          <xsd:enumeration value="Linea_sin_riesgo" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:simpleType name="Estado_del_pedido">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Abierto" />
          <xsd:enumeration value="Lanzado" />
          <xsd:enumeration value="Aprobación_pendiente" />
          <xsd:enumeration value="Prepago_pendiente" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PDA_LineasPrograma">
        <xsd:sequence>
          <xsd:element minOccurs="0" maxOccurs="1" name="Key" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Status" type="tns:Status" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Prod_Order_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Item_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Variant_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Description_2" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_1_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Shortcut_Dimension_2_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_3_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_4_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_5_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_6_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_7_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="ShortcutDimCode_x005B_8_x005D_" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Location_Code" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Finished_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Remaining_Quantity" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Scrap_Percent" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Due_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Starting_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Starting_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ending_Date" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Ending_Time" type="xsd:time" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Production_BOM_No" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Unit_Cost" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cost_Amount" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_Cliente" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nombre" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_Almacen" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nombre_almacen" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="N_x00BA__Pedido" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Lin_pedido" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Agente_comercial" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nombre_Agente_comercial" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_Vendedor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Nom_Vendedor" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cant_enviada" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="CantPdteEnviar" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha_entrega_prometida" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Fecha_recepción" type="xsd:date" />
          <xsd:element minOccurs="0" maxOccurs="1" name="StockFisico" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_Pedido" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Precio_Pedido_DL" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_divisa_Pedido" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_tipo_de_cambio" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pais_facturacion" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Pais_entrega" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Incoterm" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Num_doc_externo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estado_de_linea" type="tns:Estado_de_linea" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Estado_del_pedido" type="tns:Estado_del_pedido" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Call_off" type="xsd:boolean" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo20_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Familia" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Grado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Subgrado" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo1_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo2_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo3_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo4_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo5_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo6_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo7_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo8_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo9_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo10_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo11_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo12_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo13_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo14_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo15_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo16_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo17_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo18_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Atributo19_codigo" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cod_programa" type="xsd:string" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Linea_programa" type="xsd:int" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Num_bobinas" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Cant_a_lanzar" type="xsd:decimal" />
          <xsd:element minOccurs="0" maxOccurs="1" name="Bobinas_totales" type="xsd:decimal" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="PDA_LineasPrograma_List">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="unbounded" name="PDA_LineasPrograma" type="tns:PDA_LineasPrograma" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:simpleType name="PDA_LineasPrograma_Fields">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="Status" />
          <xsd:enumeration value="Prod_Order_No" />
          <xsd:enumeration value="Item_No" />
          <xsd:enumeration value="Variant_Code" />
          <xsd:enumeration value="Description" />
          <xsd:enumeration value="Description_2" />
          <xsd:enumeration value="Shortcut_Dimension_1_Code" />
          <xsd:enumeration value="Shortcut_Dimension_2_Code" />
          <xsd:enumeration value="ShortcutDimCode_x005B_3_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_4_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_5_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_6_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_7_x005D_" />
          <xsd:enumeration value="ShortcutDimCode_x005B_8_x005D_" />
          <xsd:enumeration value="Location_Code" />
          <xsd:enumeration value="Quantity" />
          <xsd:enumeration value="Finished_Quantity" />
          <xsd:enumeration value="Remaining_Quantity" />
          <xsd:enumeration value="Scrap_Percent" />
          <xsd:enumeration value="Due_Date" />
          <xsd:enumeration value="Starting_Date" />
          <xsd:enumeration value="Starting_Time" />
          <xsd:enumeration value="Ending_Date" />
          <xsd:enumeration value="Ending_Time" />
          <xsd:enumeration value="Production_BOM_No" />
          <xsd:enumeration value="Unit_Cost" />
          <xsd:enumeration value="Cost_Amount" />
          <xsd:enumeration value="Cod_Cliente" />
          <xsd:enumeration value="Nombre" />
          <xsd:enumeration value="Cod_Almacen" />
          <xsd:enumeration value="Nombre_almacen" />
          <xsd:enumeration value="N_x00BA__Pedido" />
          <xsd:enumeration value="Lin_pedido" />
          <xsd:enumeration value="Agente_comercial" />
          <xsd:enumeration value="Nombre_Agente_comercial" />
          <xsd:enumeration value="Cod_Vendedor" />
          <xsd:enumeration value="Nom_Vendedor" />
          <xsd:enumeration value="Cant_enviada" />
          <xsd:enumeration value="CantPdteEnviar" />
          <xsd:enumeration value="Fecha_entrega_prometida" />
          <xsd:enumeration value="Fecha_recepción" />
          <xsd:enumeration value="StockFisico" />
          <xsd:enumeration value="Precio_Pedido" />
          <xsd:enumeration value="Precio_Pedido_DL" />
          <xsd:enumeration value="Cod_divisa_Pedido" />
          <xsd:enumeration value="Cod_tipo_de_cambio" />
          <xsd:enumeration value="Pais_facturacion" />
          <xsd:enumeration value="Pais_entrega" />
          <xsd:enumeration value="Incoterm" />
          <xsd:enumeration value="Num_doc_externo" />
          <xsd:enumeration value="Estado_de_linea" />
          <xsd:enumeration value="Estado_del_pedido" />
          <xsd:enumeration value="Call_off" />
          <xsd:enumeration value="Atributo20_codigo" />
          <xsd:enumeration value="Familia" />
          <xsd:enumeration value="Grado" />
          <xsd:enumeration value="Subgrado" />
          <xsd:enumeration value="Atributo1_codigo" />
          <xsd:enumeration value="Atributo2_codigo" />
          <xsd:enumeration value="Atributo3_codigo" />
          <xsd:enumeration value="Atributo4_codigo" />
          <xsd:enumeration value="Atributo5_codigo" />
          <xsd:enumeration value="Atributo6_codigo" />
          <xsd:enumeration value="Atributo7_codigo" />
          <xsd:enumeration value="Atributo8_codigo" />
          <xsd:enumeration value="Atributo9_codigo" />
          <xsd:enumeration value="Atributo10_codigo" />
          <xsd:enumeration value="Atributo11_codigo" />
          <xsd:enumeration value="Atributo12_codigo" />
          <xsd:enumeration value="Atributo13_codigo" />
          <xsd:enumeration value="Atributo14_codigo" />
          <xsd:enumeration value="Atributo15_codigo" />
          <xsd:enumeration value="Atributo16_codigo" />
          <xsd:enumeration value="Atributo17_codigo" />
          <xsd:enumeration value="Atributo18_codigo" />
          <xsd:enumeration value="Atributo19_codigo" />
          <xsd:enumeration value="Cod_programa" />
          <xsd:enumeration value="Linea_programa" />
          <xsd:enumeration value="Num_bobinas" />
          <xsd:enumeration value="Cant_a_lanzar" />
          <xsd:enumeration value="Bobinas_totales" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="PDA_LineasPrograma_Filter">
        <xsd:sequence>
          <xsd:element minOccurs="1" maxOccurs="1" name="Field" type="tns:PDA_LineasPrograma_Fields" />
          <xsd:element minOccurs="1" maxOccurs="1" name="Criteria" type="xsd:string" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="Read">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Status" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="Prod_Order_No" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Read_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PDA_LineasPrograma" type="tns:PDA_LineasPrograma" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="recId" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadByRecId_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="PDA_LineasPrograma" type="tns:PDA_LineasPrograma" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="unbounded" name="filter" type="tns:PDA_LineasPrograma_Filter" />
            <xsd:element minOccurs="0" maxOccurs="1" name="bookmarkKey" type="xsd:string" />
            <xsd:element minOccurs="1" maxOccurs="1" name="setSize" type="xsd:int" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ReadMultiple_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="0" maxOccurs="1" name="ReadMultiple_Result" type="tns:PDA_LineasPrograma_List" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="IsUpdated_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="IsUpdated_Result" type="xsd:boolean" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="Key" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetRecIdFromKey_Result">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element minOccurs="1" maxOccurs="1" name="GetRecIdFromKey_Result" type="xsd:string" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>
  <message name="Read">
    <part name="parameters" element="tns:Read" />
  </message>
  <message name="Read_Result">
    <part name="parameters" element="tns:Read_Result" />
  </message>
  <message name="ReadByRecId">
    <part name="parameters" element="tns:ReadByRecId" />
  </message>
  <message name="ReadByRecId_Result">
    <part name="parameters" element="tns:ReadByRecId_Result" />
  </message>
  <message name="ReadMultiple">
    <part name="parameters" element="tns:ReadMultiple" />
  </message>
  <message name="ReadMultiple_Result">
    <part name="parameters" element="tns:ReadMultiple_Result" />
  </message>
  <message name="IsUpdated">
    <part name="parameters" element="tns:IsUpdated" />
  </message>
  <message name="IsUpdated_Result">
    <part name="parameters" element="tns:IsUpdated_Result" />
  </message>
  <message name="GetRecIdFromKey">
    <part name="parameters" element="tns:GetRecIdFromKey" />
  </message>
  <message name="GetRecIdFromKey_Result">
    <part name="parameters" element="tns:GetRecIdFromKey_Result" />
  </message>
  <portType name="PDA_LineasPrograma_Port">
    <operation name="Read">
      <input name="Read" message="tns:Read" />
      <output name="Read_Result" message="tns:Read_Result" />
    </operation>
    <operation name="ReadByRecId">
      <input name="ReadByRecId" message="tns:ReadByRecId" />
      <output name="ReadByRecId_Result" message="tns:ReadByRecId_Result" />
    </operation>
    <operation name="ReadMultiple">
      <input name="ReadMultiple" message="tns:ReadMultiple" />
      <output name="ReadMultiple_Result" message="tns:ReadMultiple_Result" />
    </operation>
    <operation name="IsUpdated">
      <input name="IsUpdated" message="tns:IsUpdated" />
      <output name="IsUpdated_Result" message="tns:IsUpdated_Result" />
    </operation>
    <operation name="GetRecIdFromKey">
      <input name="GetRecIdFromKey" message="tns:GetRecIdFromKey" />
      <output name="GetRecIdFromKey_Result" message="tns:GetRecIdFromKey_Result" />
    </operation>
  </portType>
  <binding name="PDA_LineasPrograma_Binding" type="tns:PDA_LineasPrograma_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="Read">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pda_lineasprograma:Read" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="Read">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="Read_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadByRecId">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pda_lineasprograma:ReadByRecId" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadByRecId">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadByRecId_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="ReadMultiple">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pda_lineasprograma:ReadMultiple" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="ReadMultiple">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="ReadMultiple_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IsUpdated">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pda_lineasprograma:IsUpdated" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IsUpdated">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IsUpdated_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="GetRecIdFromKey">
      <operation soapAction="urn:microsoft-dynamics-schemas/page/pda_lineasprograma:GetRecIdFromKey" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="GetRecIdFromKey">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="GetRecIdFromKey_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="PDA_LineasPrograma_Service">
    <port name="PDA_LineasPrograma_Port" binding="tns:PDA_LineasPrograma_Binding">
      <address location="http://10.35.35.73:7047/DynamicsNAV/WS/SMURFIT%20KAPPA/Page/PDA_LineasPrograma" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>