SesionPruebas/SesionPruebasBTI/Web References/WS_BTI_Almacen/WS_BTI_ALMACEN.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/WS_BTI_ALMACEN" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/WS_BTI_ALMACEN" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/WS_BTI_ALMACEN" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="AccPistola">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="usuario" type="string" />
            <element minOccurs="1" maxOccurs="1" name="pass" type="string" />
            <element minOccurs="1" maxOccurs="1" name="idioma" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nBD" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nEmp" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AccPistola_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="idioma" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nBD" type="string" />
            <element minOccurs="1" maxOccurs="1" name="nEmp" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="IngenetRegistrarPicking">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="nPicking" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="IngenetRegistrarPicking_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
    </schema>
  </types>
  <message name="AccPistola">
    <part name="parameters" element="tns:AccPistola" />
  </message>
  <message name="AccPistola_Result">
    <part name="parameters" element="tns:AccPistola_Result" />
  </message>
  <message name="IngenetRegistrarPicking">
    <part name="parameters" element="tns:IngenetRegistrarPicking" />
  </message>
  <message name="IngenetRegistrarPicking_Result">
    <part name="parameters" element="tns:IngenetRegistrarPicking_Result" />
  </message>
  <portType name="WS_BTI_ALMACEN_Port">
    <operation name="AccPistola">
      <input name="AccPistola" message="tns:AccPistola" />
      <output name="AccPistola_Result" message="tns:AccPistola_Result" />
    </operation>
    <operation name="IngenetRegistrarPicking">
      <input name="IngenetRegistrarPicking" message="tns:IngenetRegistrarPicking" />
      <output name="IngenetRegistrarPicking_Result" message="tns:IngenetRegistrarPicking_Result" />
    </operation>
  </portType>
  <binding name="WS_BTI_ALMACEN_Binding" type="tns:WS_BTI_ALMACEN_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="AccPistola">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WS_BTI_ALMACEN:AccPistola" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AccPistola">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AccPistola_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="IngenetRegistrarPicking">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/WS_BTI_ALMACEN:IngenetRegistrarPicking" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="IngenetRegistrarPicking">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="IngenetRegistrarPicking_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="WS_BTI_ALMACEN">
    <port name="WS_BTI_ALMACEN_Port" binding="tns:WS_BTI_ALMACEN_Binding">
      <address location="http://vm-biotech-2:7047/BtiCalidad/ws/BTI%20TEST%20020516/Codeunit/WS_BTI_ALMACEN" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>